.top{

    min-width: 845px;
}

.title{

    margin-bottom:2rem;
    font-size:20px;
    text-align: center;

}



img{
    width:100px;
   
}



.card-info{
    margin-bottom:4rem;
    margin-left:2rem;
    width:80%;
}


.main{

    display: flex;
    flex-direction: row;
    margin-left: 3rem;
    margin-bottom:3rem;
    
    

}


.linkOnSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: yellow;

}

.linkOnSide2{


    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;


}

.alink{
    background-color: tan;
    font-size: 1rem;
    width: 100%;
}
