.top{

    
}

.title{

    margin-bottom:2rem;
    font-size:20px;
    text-align: center;

}



img{
    width:100%;
   
}


.image{
    
    text-align: center;
    margin-bottom: 6rem;
    width: 95%;
    
}




.card-info{
    margin-bottom:2rem;
   width:80%;
   
    
    /*background-color: aliceblue;*/
}


.main{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
    
    

}


.linkOnSide{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*background-color: yellow;*/
    
    

}

.alink{
    /*background-color: tan;*/
    font-size: 1rem;
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.top-list{
margin-left: 1rem;
margin-right:1rem;
}